<template>
  <div class="splitter">
    <div id="left">
      <slot name="left"></slot>
    </div>
    <div id="separator"></div>
    <div id="right">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "SplitScreen",
  components: {},
  props: {
    msg: String,
  },
  data() {
    return {};
  },
  methods: {
    dragElement(element) {
      var md; // remember mouse down info
      const left = document.getElementById("left");
      const right = document.getElementById("right");

      element.onmousedown = onMouseDown;

      function onMouseDown(e) {
        md = {
          e,
          offsetLeft: element.offsetLeft,
          offsetTop: element.offsetTop,
          leftWidth: left.offsetWidth,
          rightWidth: right.offsetWidth,
        };

        document.onmousemove = onMouseMove;
        document.onmouseup = () => {
          document.onmousemove = document.onmouseup = null;
        };
      }

      function onMouseMove(e) {
        var delta = {
          x: e.clientX - md.e.clientX,
          y: e.clientY - md.e.clientY,
        };

        // Horizontal
        // Prevent negative-sized elements
        delta.x = Math.min(Math.max(delta.x, -md.leftWidth), md.rightWidth);

        element.style.left = md.offsetLeft + delta.x + "px";
        left.style.width = md.leftWidth + delta.x + "px";
        right.style.width = md.rightWidth - delta.x + "px";

      }
    },
  },
  mounted() {
    this.dragElement(document.getElementById("separator"));
    window.onresize = this.dragElement(document.getElementById("separator"));
    this.$emit("mounted");
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.splitter {
  width: 100%;
  height: 100%;
  display: flex;
}

#separator {
  cursor: col-resize;
  background-color: #aaa;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 100%;

  /* Prevent the browser's built-in drag from interfering */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#left {
  background-color: #333;
  color: #fff;
  width: 30%;
  height: 100%;
  min-width: 10px;
}

#right {
  background-color: #eee;
  width: 70%;
  height: 100%;
  min-width: 10px;
}
</style>
