<template>
  <div class="svg-renderer">
    <!--SplitScreen @mounted="onSplitScreenMounted"-->
    <SplitScreen @mounted="onSplitScreenMounted">
      <template v-slot:left>
        <div class="svg-editor">
          <div class="title">
            <h1><input v-model="title" type="text" value="SVG Renderer" /></h1>
          </div>
          <div class="controls">
            <button v-on:click="onDownloadText()">Download Text</button>
            <button v-on:click="onDownloadSvg()">Download SVG</button>
          </div>
          <div class="text-editor">
            <textarea v-on:input="onGenerate()" v-model="text" cols="70" rows="10" />
          </div>
        </div>
      </template>
      <template v-slot:right>
        <div class="scrollbars">
          <SvgTemplate />
        </div>
      </template>
    </SplitScreen>
  </div>
</template>

<script>
//import Panzoom from '@panzoom/panzoom'
import SplitScreen from "./SplitScreen.vue";
import SvgTemplate from "./SvgTemplate.vue";
import { parse } from "../utils/TextParser.js";
export default {
  name: "SvgRenderer",
  components: {
    SplitScreen,
    SvgTemplate,
  },
  props: {
    msg: String,
  },
  data() {
    return {
      title: "SVG Renderer",
      text:
        "" +
        "class Order\n" +
        "Person customer\n" +
        "List<OrderItem> orderItems\n\n" +
        "class OrderItem\n\n" +
        "class Person\n",
      model: { nodes: [], edges: [] },
    };
  },
  methods: {
    renderPointValue(val) {
      return isNaN(val) ? 0 : val;
    },
    parseText() {
      this.model = parse(this.text);
    },
    onGenerate() {
      this.parseText();
      var dagre = require("dagre");
      // Create a new directed graph
      var g = new dagre.graphlib.Graph({ compound: true });
      // Set an object for the graph label
      g.setGraph({});
      // Default to assigning a new object as a label for each new edge.
      g.setDefaultEdgeLabel(function () {
        return {};
      });
      // Add nodes to the graph. The first argument is the node id. The second is
      // metadata about the node. In this case we're going to add labels to each of
      // our nodes.
      for (const nodeId in this.model.nodes) {
        const node = this.model.nodes[nodeId];
        g.setNode(nodeId, {
          label: node.label,
          properties: node.properties,
        });
        if (node.parent !== undefined) {
          g.setParent(nodeId, node.parent);
        }
      }
      // Add edges to the graph.
      this.model.edges.forEach((edge) => {
        g.setEdge(edge.from, edge.to, { type: edge.type });
      });
      const svgtemplate = document.querySelector("#svg-template");
      const svgcanvas = document.querySelector("#svg-canvas");
      // clear svgcanvas
      while (svgcanvas.firstChild) {
        svgcanvas.removeChild(svgcanvas.lastChild);
      }
      const layertemplate = svgtemplate.querySelector("#layer1");
      const layercanvas = layertemplate.cloneNode(false);
      const defs = svgtemplate.querySelector("defs").cloneNode(true);
      svgcanvas.appendChild(defs);
      svgcanvas.appendChild(layercanvas);
      g.nodes().forEach(function (v, i) {
        let group = layertemplate.querySelector("#group").cloneNode(true);
        group.setAttribute("id", "group-" + i);
        let rectLabel = group.querySelector("#rect-label");
        rectLabel.setAttribute("id", "rect-label-" + i);
        let textLabel = group.querySelector("#text-label");
        textLabel.setAttribute("id", "text-label-" + i);
        let lineLabel = textLabel.querySelector("#text-label-line");
        lineLabel.setAttribute("id", "text-label-line-" + i);
        lineLabel.textContent = g.node(v).label;
        layercanvas.appendChild(group);
        let rectProp = group.querySelector("#rect-prop");
        rectProp.setAttribute("id", "rect-prop-" + i);
        let lineHeight = parseFloat(
          document.querySelector("#text-prop").getBBox().height
        );
        let textProp = group.querySelector("#text-prop");
        textProp.setAttribute("id", "text-prop-" + i);
        g.node(v).properties.forEach((txt, li) => {
          let propLine = textProp
            .querySelector("#text-prop-line")
            .cloneNode(true);
          propLine.setAttribute("id", "text-prop-line-" + i + "-" + li);
          propLine.textContent = txt;
          let y = parseFloat(propLine.getAttribute("y"));
          y = y + li * lineHeight;
          propLine.setAttribute("y", y);
          textProp.appendChild(propLine);
        });
        textProp.removeChild(textProp.querySelector("#text-prop-line"));
        let vmargin =
          parseFloat(textLabel.getAttribute("x")) -
          parseFloat(rectLabel.getAttribute("x"));
        let hmargin =
          parseFloat(textLabel.getAttribute("y")) -
          parseFloat(rectLabel.getAttribute("y"));
        rectLabel.setAttribute(
          "width",
          textLabel.getBBox().width + vmargin * 2
        );
        rectProp.setAttribute("width", textProp.getBBox().width + vmargin * 2);
        rectProp.setAttribute("height", textProp.getBBox().height + hmargin);
        rectLabel.setAttribute("width", group.getBBox().width);
        rectProp.setAttribute("width", group.getBBox().width);
        lineLabel.setAttribute(
          "x",
          (group.getBBox().width - lineLabel.getBBox().width) / 2
        );
        g.node(v).width = group.getBBox().width;
        g.node(v).height = group.getBBox().height;
      });

      dagre.layout(g);

      g.nodes().forEach(function (v, i) {
        console.log("Node " + v + ": " + JSON.stringify(g.node(v)));
        let group = svgcanvas.querySelector("#group-" + i);
        let node = g.node(v);
        let rectLavel = group.querySelector("#rect-label-" + i);
        let rectProp = group.querySelector("#rect-prop-" + i);
        rectProp.setAttribute("width", node.width);
        rectProp.setAttribute(
          "height",
          node.height - rectLavel.getBBox().height
        );
        group.setAttribute(
          "transform",
          "translate(" +
            (node.x - node.width / 2) +
            "," +
            (node.y - node.height / 2) +
            ")"
        );
      });

      g.edges().forEach((e) => {
        console.log("Edge " + e.v + " -> " + e.w + ": " + JSON.stringify(g.edge(e)));
        let edge = svgtemplate
          .querySelector("#edge-" + g.edge(e).type)
          .cloneNode(true);
        //d: M 68.791667,47.625 5.2916667,5.2916667
        let points = "";
        g.edge(e).points.forEach((e, i) => {
          points =
            points +
            (i > 0 ? " " : "") +
            this.renderPointValue(e.x) +
            "," +
            this.renderPointValue(e.y);
        });
        edge.setAttribute("d", "M " + points);
        layercanvas.appendChild(edge);

      });
      svgcanvas.setAttribute("width", layercanvas.getBBox().width);
      svgcanvas.setAttribute("height", layercanvas.getBBox().height);
      this.onSplitScreenMounted();
    },
    download(element, filename) {
      element.setAttribute("download", filename);
      element.style.display = "none";
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    },
    onDownloadSvg() {
      const svg = document.getElementById("svg-canvas");
      const element = document.createElement("a");
      element.setAttribute(
        "href",
        "data:image/svg+xml;charset=utf-8," +
          encodeURIComponent(
            '<?xml version="1.0" encoding="UTF-8" standalone="no"?>'
          ) +
          encodeURIComponent(svg.outerHTML)
      );
      this.download(element, this.$data.title + ".svg");
    },
    onDownloadText() {
      const element = document.createElement("a");
      element.setAttribute(
        "href",
        "data:text/plain;charset=utf-8," +
          encodeURIComponent(this.text)
      );
      this.download(element, this.$data.title + ".txt");
    },
    /*onSplitScreenMounted() {
      console.log("splitScreenUpdated");
      const elem = document.getElementById('svg-canvas')
      elem.style.width = elem.parentNode.offsetWidth;
      elem.style.height = elem.parentNode.offsetHeight;
      console.log("width: " + elem.style.width + " height:" + elem.style.height);
      const panzoom = Panzoom(elem, {
        maxScale: 5
      })
      panzoom.pan(10, 10)
      panzoom.zoom(2, { animate: true })
    }*/
  },
  mounted() {
    this.onGenerate();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.svg-renderer {
  font-family: "Arial";
  margin: 0;
  height: 100vh;
}
.svg-editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.svg-editor .title {
  flex-grow: 0;
  padding: 3px;
}
.svg-editor .controls {
  flex-grow: 0;
  padding: 3px;
}
.svg-editor .text-editor {
  flex-grow: 1;
  padding: 3px;
  display: flex;
}
.svg-editor h1 {
  margin: 1px;
}
.svg-editor button {
  margin: 1px;
  border-radius: 0;
  border: none;
  padding: .5em;
}
.svg-editor h1 input {
  display: block;
  font-size: inherit;
  border: none;
  background: inherit;
  color: inherit;
}
.svg-editor textarea {
  flex-grow: 1;
  white-space: nowrap;  
  border: none;
  padding: .2em;
  background: inherit;
  color: #00ff66;
}
.controls {
  padding: .3em 0;
}
.scrollbars {
  height: 100vh;
  overflow: auto;
}
</style>
