<template>
  <div style="height: 100%">
    <div style="padding: 1em; text-align: center;">
      <svg
        id="svg-canvas"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
      ></svg>
    </div>
    <svg
      id="svg-template"
      style="
        visibility: hidden;
        background: #eeeeee;
        width: 75px;
        height: 130px;
      "
    >
      <defs id="defs">
        <marker
          style="overflow: visible"
          id="Arrow1Lend"
          refX="0.0"
          refY="0.0"
          orient="auto"
        >
          <path
            transform="scale(0.8) rotate(180) translate(12.5,0)"
            style="
              fill-rule: evenodd;
              stroke: #000000;
              stroke-width: 1pt;
              stroke-opacity: 1;
              fill: #000000;
              fill-opacity: 1;
            "
            d="M 0.0,0.0 L 5.0,-5.0 L -12.5,0.0 L 5.0,5.0 L 0.0,0.0 z "
            id="path858"
          />
        </marker>
        <marker
          style="overflow: visible"
          id="DiamondLstart"
          refX="0.0"
          refY="0.0"
          orient="auto"
        >
          <path
            transform="scale(1.8, 1) translate(7,0)"
            style="
              fill-rule: evenodd;
              stroke: #000000;
              stroke-width: 1pt;
              stroke-opacity: 1;
              fill: #000000;
              fill-opacity: 1;
            "
            d="M 0,-7.0710768 L -7.0710894,0 L 0,7.0710589 L 7.0710462,0 L 0,-7.0710768 z "
            id="path1530"
          />
        </marker>
        <marker
          style="overflow: visible"
          id="EmptyDiamondLstart"
          refX="0.0"
          refY="0.0"
          orient="auto"
        >
          <path
            transform="scale(1.8, 1) translate(7,0)"
            style="
              fill-rule: evenodd;
              fill: #ffffff;
              stroke: #000000;
              stroke-width: 0.7pt;
              stroke-opacity: 1;
            "
            d="M 0,-7.0710768 L -7.0710894,0 L 0,7.0710589 L 7.0710462,0 L 0,-7.0710768 z "
            id="path1557"
          />
        </marker>
        <marker
          style="overflow: visible"
          id="EmptyTriangleOutL"
          refX="0.0"
          refY="0.0"
          orient="auto"
        >
          <path
            transform="scale(2.2, 2) translate(-6,0)"
            style="
              fill-rule: evenodd;
              fill: #ffffff;
              stroke: #000000;
              stroke-width: 0.4pt;
              stroke-opacity: 1;
            "
            d="M 5.77,0.0 L -2.88,5.0 L -2.88,-5.0 L 5.77,0.0 z "
            id="path1602"
          />
        </marker>
        <marker
          style="overflow: visible"
          id="EmptyDiamondLend"
          refX="0.0"
          refY="0.0"
          orient="auto"
        >
          <path
            transform="scale(0.8) translate(-7,0)"
            style="
              fill-rule: evenodd;
              fill: #ffffff;
              stroke: #000000;
              stroke-width: 1pt;
              stroke-opacity: 1;
            "
            d="M 0,-7.0710768 L -7.0710894,0 L 0,7.0710589 L 7.0710462,0 L 0,-7.0710768 z "
            id="path1566"
          />
        </marker>
        <marker
          style="overflow: visible"
          id="DiamondLend"
          refX="0.0"
          refY="0.0"
          orient="auto"
        >
          <path
            transform="scale(0.8) translate(-7,0)"
            style="
              fill-rule: evenodd;
              stroke: #000000;
              stroke-width: 1pt;
              stroke-opacity: 1;
              fill: #000000;
              fill-opacity: 1;
            "
            d="M 0,-7.0710768 L -7.0710894,0 L 0,7.0710589 L 7.0710462,0 L 0,-7.0710768 z "
            id="path1539"
          />
        </marker>
      </defs>
      <g id="layer1">
        <g id="group">
          <rect
            style="
              fill: #ffffff;
              stroke: #000000;
              stroke-width: 0.264999;
              stroke-opacity: 1;
            "
            id="rect-label"
            y="0"
            x="0"
            height="20"
            width="75"
          />
          <text
            style="
              font-style: normal;
              font-weight: normal;
              font-size: 10.58329999999999949px;
              line-height: 1.25;
              font-family: sans-serif;
              mix-blend-mode: normal;
              fill: #000000;
              fill-opacity: 1;
              stroke: none;
              stroke-width: 0.264583;
            "
            y="15"
            x="8"
            id="text-label"
          >
            <tspan
              id="text-label-line"
              y="15"
              x="8"
              style="
                font-style: normal;
                font-variant: normal;
                font-weight: bold;
                font-stretch: condensed;
                font-size: 10.5833px;
                font-family: 'Arial';
                -inkscape-font-specification: 'Arial Narrow Bold Condensed';
                font-variant-ligatures: normal;
                font-variant-caps: normal;
                font-variant-numeric: normal;
                font-variant-east-asian: normal;
                stroke-width: 0.264583;
              "
            >
              Classname
            </tspan>
          </text>
          <rect
            style="
              fill: #ffffff;
              stroke: #000000;
              stroke-width: 0.264999;
              stroke-opacity: 1;
            "
            id="rect-prop"
            y="20"
            x="0"
            height="20"
            width="75"
          />
          <text
            style="
              font-style: normal;
              font-weight: normal;
              font-size: 10.58329999999999949px;
              line-height: 1.25;
              font-family: sans-serif;
              fill: #000000;
              fill-opacity: 1;
              stroke: none;
              stroke-width: 0.264583;
            "
            y="35"
            x="8"
            id="text-prop"
          >
            <tspan
              id="text-prop-line"
              y="35"
              x="8"
              style="
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                font-stretch: normal;
                font-size: 10.5833px;
                font-family: 'Arial';
                -inkscape-font-specification: 'Arial Narrow Normal';
                font-variant-ligatures: normal;
                font-variant-caps: normal;
                font-variant-numeric: normal;
                font-variant-east-asian: normal;
                stroke-width: 0.264583;
              "
            >
              Properties
            </tspan>
          </text>
        </g>
        <path
          id="edge"
          d="M 0, 50 75, 50"
          style="
            opacity: 1;
            fill: none;
            stroke: #000000;
            stroke-width: 0.5;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
          "
        />
        <path
          id="edge-dash"
          d="M 0, 60 75, 60"
          style="
            opacity: 1;
            fill: none;
            stroke: #000000;
            stroke-dasharray: 4, 3;
            stroke-width: 0.5;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
          "
        />
        <path
          id="edge-assosiation"
          d="M 0, 70 75, 70"
          style="
            opacity: 1;
            fill: none;
            stroke: #000000;
            stroke-width: 0.5;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
            marker-end: url(#Arrow1Lend);
          "
        />
        <path
          id="edge-dependency"
          d="M 0, 80 75, 80"
          style="
            opacity: 1;
            fill: none;
            stroke: #000000;
            stroke-dasharray: 4, 3;
            stroke-width: 0.5;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
            marker-end: url(#Arrow1Lend);
          "
        />
        <path
          id="edge-extends"
          d="M 0, 90 75, 90"
          style="
            opacity: 1;
            fill: none;
            stroke: #000000;
            stroke-width: 0.5;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
            marker-end: url(#EmptyTriangleOutL);
          "
        />
        <path
          id="edge-implements"
          d="M 0, 100 75, 100"
          style="
            opacity: 1;
            fill: none;
            stroke: #000000;
            stroke-dasharray: 4, 3;
            stroke-width: 0.5;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
            marker-end: url(#EmptyTriangleOutL);
          "
        />
        <path
          id="edge-composition"
          d="M 0, 110 75, 110"
          style="
            opacity: 1;
            fill: none;
            stroke: #000000;
            stroke-width: 0.5;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
            marker-start: url(#DiamondLstart);
          "
        />
        <path
          id="edge-aggregate"
          d="M 0, 120 75, 120"
          style="
            opacity: 1;
            fill: none;
            stroke: #000000;
            stroke-width: 0.5;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            stroke-miterlimit: 4;
            stroke-opacity: 1;
            marker-start: url(#EmptyDiamondLstart);
          "
        />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: "SvgTemplate",
  props: {
    msg: String,
  },
  mounted: function () {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
