<template>
  <div id="app">
    <SvgRenderer/>
  </div>
</template>

<script>
import SvgRenderer from './components/SvgRenderer.vue'
export default {
  name: 'App',
  components: {
    SvgRenderer
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
